/*стиль для фона*/
body {
    background: linear-gradient(to top, #fefcea, #f1da36);
}
.all {
    width: 80%;
    min-height: 100%;
    /*padding: 100px;*/
    margin: 0 auto;
    margin-top: 5px;
    background-color: white;

}
.text {
    color: black;
    text-align:left;
    margin: 10px;
    padding: 10px;
}
h1 {
    color: black; 
    text-align: center;
    font-size: 300%;
    font-family: Arial;
}
p2 {
    color:black;
    text-align:left;
}
.menu {
    margin: auto;
    padding: 10px;
    list-style: none;
}
.menu>li {
    float: left;
    width: 150px;
    height: 30px;
    background: linear-gradient(to top, #fefcea, #f1da36);
    opacity: .8
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    margin-left: 10px;
}
.menu>li>a {
    text-decoration: none; /*отменяет все декарации при выделении меню*/
    color: black;
    display: block;
    text-align: center;

}
ul li a:hover {
    color: red;
}

ul li ul li {
    display: none;
}
ul li:hover ul li {
    display: block;
}
p5 {color: black}
span {color: red}
label {color: black}
