body {
	width: 50%
	height: 50%;
}
.example {
	float: left;
	margin-left: 300px;

}
.inputA {
	padding: 5px;
	font-size: 11pt;
	float: left;
	margin-left: 5px;
	width: 10%;
}

.inputB {
	padding: 5px;
	font-size: 11pt;
	display: none;
	width: 20%;
}

#canvasA {
 	margin-left: 33px;
}